@import "../../assets/styles/variables";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Roboto:wght@700;900&display=swap');


.mainWrapper {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 1rem 10rem;
  display: flex;
  flex-direction: column;
  background-color: $primary-color;
  font-family: "DM Sans", sans-serif;
  background: #2b2f77;
  background: -webkit-linear-gradient(
    0deg,
    #2b2f77 0%,
    #141852 50%,
    #070b34 100%
  );
  background: #0a0908;

  pre {
    // Adicionando efeito de rotação constante
    animation: rotateAnimation 10s linear infinite;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
    opacity: 0.9;
  }

  @keyframes rotateAnimation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2rem;

    .description {
      display: flex;
      flex-direction: column;
      height: fit-content;
      margin-bottom: 1.8em;
      // background-color: red;
      align-items: end;
      a {
        color: white;
        font-size: 8em;
        font-weight:700;
        font-family: 'Roboto', sans-serif;
      }
      .descriptionSmall{
        font-size: 5em;
        color: #49111c;
        font-family: "DM Sans";
      }
    }
    .projects {
      display: flex;
      flex-direction: column;
      height: 40vh;
      background-color:#2b2f77;
      border: 0.2em;
      border-style: solid;
      border-color: #5056bf;
      border-radius: 20px;
      font-size: 1.2rem;
      font-family: DM Mono, monospace;
      .projectsTitle {
        color: rgb(34, 35, 32);
      }
      a {
        color: rgb(19, 19, 18);
      }
      .projectsList {
        .projectItem {
          display: flex;
          margin-top: 0.6rem;
          .projectNumber {
            color: rgb(226, 74, 74);
          }
          a {
            margin-right: 1rem;
          }
        }
      }
    }
  }
}
